/*
<link rel="stylesheet" type="text/css" href="styling.css">
*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#options {
    float: left;
    width: 20%;
    height: 100%;
    margin: 0;
    background-color: aqua;
}

#field {
    width: 80%;
    float: left;
    height: 100%;
    margin: 0;
    /*background-color: crimson;*/
}